<head>
	<title>My Life Home Page</title>
	<link rel="stylesheet" href="../../assets/stylesheets/home.css" type="text/css">
</head>

<h1 class="homemylife">My Life</h1>

<div class="homecreatenewstepbutton">
				<%= link_to "Create New", new_step_path, class: 'btn btn-info' %>
</div>


<table class="hometable">
<tr>
	<td class="homereminisce">
		<h2>Reminisce</h2>
	</td>
	<td class="homebrowse">
		<h2>Browse</h2>

		<!-- Look at steps to find out all the years that there are steps for -->
		<!-- Loop through years, and create a link for each one -->
		<!-- Each link should go to "/step?year=..." -->
	</td>
</tr>
<tr>
	<td class="homereminiscebox">
		
	</td>
	<td class="homebrowsebox">

	<!-- pseudo code
	store all of the years in an array (probably in model) called years_array
	eliminate duplicates (unique method)
	order years in the array

	in view: iterate over array to generate links -->
	
	<ul>
		<%= @years_array.each do |year|  %>
		<li>
			<%= link_to year.to_s, "/steps/", :method => :get %> 
		</li>
	</ul>

	<% end  %> 

	



	</td>
</tr>
</table>
<table class="homepromptstable">
	<tr>
		<td>
			<h2>Prompts</h2>
		</td>
	</tr>
	<tr>
		<td class="homepromptsbox">
		</td>
	</tr>
</table>

<!-- <table class="hometable">
	<tr>
		<td class="hometdleft">
			<table class="homereminiscetable">
				<tr>
					<td>
						<h2>Reminisce</h2>
					</td>
				</tr>
				<tr>
					<td class="homereminiscebox">
					</td>
				</tr>
			</table>
		</td>
		<td class="hometdright">
			<table class="homebrowsetable">
				<tr>
					<td>
						<h2>Browse</h2>
					</td>
				</tr>
				<tr>
					<td class="homebrowsebox">
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
<table class="homepromptstable">
	<tr>
		<td>
			<h2>Prompts</h2>
		</td>
	</tr>
	<tr>
		<td class="homepromptsbox">
		</td>
	</tr>
</table>
 -->




