
<div>
<%= link_to "Home", "/" %> 
</div>

<h1>Steps</h1>
<div class="homecreatenewstepbutton">
				<%= link_to "Create New", new_step_path, class: 'btn btn-info' %>
</div>
<div>
<% @steps.each do |step| %>
	<li>
		<%= link_to step.title, step_path(step), :method => :get %>
	</li>
		<p class="stepsdeletebutton">
		<%= link_to "delete", step_path(step), :method => :delete %>
		</p>
	
	<hr color="#8DB477"/>
	
<% end %>
 
</br>


</div>

