<h3>Posts:</h3>


<%= link_to "Add Post", "/posts/new?step_id=#{params[:id]}", class: 'btn btn-info' %>


</br>
</br>





<p>


<% @step.posts.each do |post| %>
<div>
	<%= post.body %>
	<%= link_to "delete", post_path(post), :method => :delete %>
</div>

<% end %>


</p>



<%= link_to "Back", "/steps" %> 


