

@import "bootstrap-sprockets";
@import "bootstrap";

/* Whole Site */
.alert {padding:0;margin:0;}
body {background-color: #8DB477;margin:3%;}

div {border-radius: 10px;background-color: #DDDABE;}
li {list-style: none}
h1 {text-align:center; text-decoration: underline;font-family: 'Pacifico', cursive;color: #78684e}
a {font-size: 1em}
h4, h2, li, a, p {font-family: 'Roboto Slab', serif; color: #78684e;}

a:hover {color: #8DB477; text-decoration: underline}

.signin {text-align: right;}

/* Welcome Page */

.welcomesignup {float:right;}
.welcomeinfo {width:75%;text-align: right;float: right;}
.welcomehome {float:left;}
.welcometurtle {text-align: center}

/* Home Page */
.homeheader {;}
.container {padding:3%;}
.hometurtle {text-align: center}
.homecreatenewstepbutton {text-align: right}
.btn {background-color:#8DB477;}
.homesettings {text-align: right;}
.homeprofilepicture {text-align: left;border: #78684e solid 2px;;width:190px;height:165px;padding:1%;float:left;}
.homemylife {font-size: 5em;}

.homereminisce {width:60%;display:inline-block;}
.homebrowse {width:30%;display:inline-block;text-align: right}

.homereminiscebox {border: #78684e solid 2px; width:65%;padding:5%;
	display:inline-block;}

.homebrowsebox {border: #78684e solid 2px;display:inline-block;width:30%;padding:5%;
	float: right;font-size: 1.5em;}
.homebrowseyears {font-size: 1.5em}

.homepromptsbox {border: #78684e solid 2px; width:75%;padding:3%;padding-bottom: 0%}

.notice {margin:0px;}

.footer {border: #78684e solid 2px;text-align: center;border-radius: 5px}
/* Steps Page */
.steptitles {font-size:2em;}
.stepinfo {text-align: center}
.stepsdeletebutton {text-align: right}

hr {height:1px;}

/* Posts Page */
.postaddpost {text-align: right}
.postsdeletebutton {text-align: right}



/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

