	

@import "bootstrap-sprockets";
@import "bootstrap";

/* Whole Site */
.alert {padding:0;margin:0;}
body {background-color: #8DB477;margin:3%;}

div {border-radius: 10px;background-color: #DDDABE;}
li {list-style: none}
h1 {text-align:center; text-decoration: underline;font-family: 'Pacifico', cursive;color: #78684e}
a {font-size: 1em}
h4, h2, li, a, p {font-family: 'Roboto Slab', serif; color: #78684e;}

a:hover {color: #8DB477; text-decoration: underline}

.signin {text-align: right;}

/* Welcome Page */
.welcomemylife {font-family: 'Roboto Slab', serif;text-align: center;}
.welcomemylifewords {}
.welcomemylifeline {position:inline-block;}

.welcomesignup {float:right;}
.welcomeinfo {width:75%;text-align: right;float: right;}
.welcomehome {float:left;}
.welcometurtle {text-align: center}

/* Home Page */
.homeheader {;}
.container {padding:3%;}
.hometurtle {text-align: center}
.homecreatenewstepbutton {text-align: right}
.btn {background-color:#8DB477;}
.homesettings {text-align: right;}
.homeprofilepicture {text-align: left;border: #78684e solid 2px;width:190px;height:165px;padding:1%;float:left;}
.homemylife {text-align:center;font-size: 5em;}

.homereminisce {width:60%;display:inline-block;}
.homebrowse {width:30%;display:inline-block;text-align: right}

.homereminiscebox {border: #78684e solid 2px; width:68%;padding:1%;
	display:inline-block;background-color: #74A570}
.homereminiscebox a{font-size: 1.5em;}
/*#myCarousel {border: #78684e solid 2px; width:65%;padding:3%;
	display:inline-block;}*/
.homereminiscetitles {}
.homereminiscedates {text-align:right;}

.homebrowsebox {border: #78684e solid 2px;display:inline-block;width:30%;padding:5%;
	float: right;font-size: 1.5em;padding-top:3%;padding-bottom: 3%;background-color: #8DB477}
.homebrowsebox a:hover{color:#ecead9;}
.homebrowseyears {font-size: 1.5em}

.homepromptsbox {border: #78684e solid 4px; width:68%;padding:3%;padding-bottom: 0%;}
.homepromptsprompts {}

.notice {margin:0px;}

.footer {text-align: center;border-radius: 5px}
/* Steps Page */
.steptitles {font-size:2em;}
.stepinfo {text-align: center}
.stepsdeletebutton {text-align: right}
.btn {text-align: right}
.stepstags {text-align: center;font-size: 1.5em}
.stepstagslabel {text-align: center; color: black;}
.stepstitlelabel { color: black;float:left;}
.index-row {
	width: 100%;
}
.middle-col {text-align: center;background-color:#DDDABE }
hr {height:1px;color:#8DB477;}
.seeall {font-size: 1.5em}

/* Posts Page */
.postaddpost {text-align: right}
.postsdeletebutton {text-align: right}
.postbody {width:60%;}
.postedit {text-align: right}


/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

