

@import "bootstrap-sprockets";
@import "bootstrap";

/* Whole Site */
.alert {padding:0;margin:0;}
body {background-color: #8DB477;margin:3%;}

div {border-radius: 10px;background-color: #DDDABE;}

h1 {text-align:center; text-decoration: underline;font-family: 'Pacifico', cursive;color: #78684e}

h2, li, a, p {font-family: 'Roboto Slab', serif; color: #78684e;}

a:hover {color: #8DB477; text-decoration: underline}

.signin {text-align: right;}

/* Welcome Page */

.welcomesignup {float:right;}
.welcomeinfo {width:50%;text-align: right;float: right;}
.welcomehome {float:left;}
.welcometurtle {text-align: center}

/* Home Page */
.container {padding:3%;}
.hometurtle {text-align: center}
.homecreatenewstepbutton {text-align: right}
.btn {background-color:#8DB477;}

.homemylife {}

.homereminisce {width:60%;display:inline-block;}
.homebrowse {width:30%;display:inline-block;text-align: right}

.homereminiscebox {border: #78684e solid 2px; width:50%;padding:5%;display:inline-block;height:150px;}

.homebrowsebox {border: #78684e solid 2px;display:inline-block;width:30%;padding:5%;float: right}

.homepromptsbox {border: #78684e solid 2px; padding:5%;}

/* Steps Page */
.stepinfo {text-align: center}
.stepsdeletebutton {text-align: right}

hr {height:1px;}

/* Posts Page */

.postsdeletebutton {text-align: right}



/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

